---
const { title, subtitle } = Astro.props;
---

<div class="flex group">
  <div class="flex flex-col items-center mr-4">
    <span class="w-2.5 h-2.5 bg-base-content/20 group-hover:bg-primary block rounded-full mt-2 transition-colors"></span>
    <span class="bg-base-300/50 block h-full w-px"></span>
  </div>
  <div class="pb-8 flex-1">
    <h3 class="font-medium text-base text-base-content mb-0.5">{title}</h3>
    <span class="text-sm text-base-content/50">{subtitle}</span>
    <div class="mt-3 text-sm text-base-content/70 leading-relaxed">
      <slot />
    </div>
  </div>
</div>
