---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
 
I am a skilled Data Engineer with extensive experience in optimizing ETL pipelines, driving infrastructure migrations to AWS, and applying advanced AI and NLP models to extract meaningful insights. Currently, I’m part of preis.de, a division of the Idealo group, where I focus on streamlining data pipelines, improving data governance, and ensuring compliance with modern data privacy regulations. My background spans a wide range of industries, and I am passionate about leveraging data to drive business outcomes and enhance operational efficiency.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Applied Physics(Electronics)"
      subtitle="2014 to 2018 at University of Karachi, Karachi, Pakistan"
    />

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
  <TimeLineElement
    title="Data Engineer at comparado GmbH / Idealo"
    subtitle="Berlin, Feb 2024 - Current"
  >
    <ul style="margin-top: 12px; margin-bottom: 12px;">
      <li style="margin-bottom: 12px;">๏ Standardised and simplified ETL pipelines to reduce historical grown technical debt.</li>
      <li style="margin-bottom: 12px;">๏ Supported migration of BI infrastructure to AWS.</li>
      <li style="margin-bottom: 12px;">๏ Extended our first party tracking by adding attribution to new marketing channels like Google CSS-PLA and Bing.</li>
      <li style="margin-bottom: 12px;">๏ Worked closely with Idealo legal and data governance teams to reduce the footprint of our shared Data Lake and ensure preis.de is DSA/DMA compliant.</li>
      <li style="margin-bottom: 12px;">๏ Supported product team in migration of CMP & Tag Manager.</li>
      <li style="margin-bottom: 12px;">๏ Migrated AB Testing to Growthbook.</li>
    </ul>
  </TimeLineElement>
    
<TimeLineElement
  title="Data Solutions Architect at Corai"
  subtitle="Berlin, Dec 2022 - Jan 2024"
>
  <ul style="margin-top: 10px; margin-bottom: 10px;">
    <li style="margin-bottom: 12px;">๏ Developed a simple and inexpensive architecture to gather 1 million daily news articles globally, extracted policy-related news, and delivered via standardized API.</li>
    <li style="margin-bottom: 12px;">๏ Applied NLP models for precise article categorization and sentiment analysis.</li>
    <li style="margin-bottom: 12px;">๏ Delivered production-grade APIs for the product team to access the data and build a product on top of it.</li>
    <li style="margin-bottom: 12px;">๏ Collaborated closely with external stakeholders to collect and normalize data-related product requirements (NewsCatcher, Bernstein Group, Axel Springer).</li>
  </ul>
</TimeLineElement>

<TimeLineElement
  title="Junior Data Engineer at Teradata"
  subtitle="Karachi, Pakistan, Jan 2018 - Dec 2021"
>
  <ul style="margin-top: 10px; margin-bottom: 10px;">
    <li style="margin-bottom: 12px;">๏ Worked in a data-focused agency, delivering high-quality data solutions for the largest telecom companies in Pakistan.</li>
    <li style="margin-bottom: 12px;">๏ Enhanced data ingestion pipelines to improve efficiency and accuracy.</li>
    <li style="margin-bottom: 12px;">๏ Developed ETL pipelines for Telenor Pakistan, integrating new data flows with Kafka.</li>
  </ul>
</TimeLineElement>

<TimeLineElement
  title="Internship at Teradata"
  subtitle="Karachi, Pakistan, Jan 2017 - Dec 2017"
>
  <ul style="margin-top: 10px; margin-bottom: 10px;">
    <li style="margin-bottom: 12px;">๏ Developed and maintained data pipelines and ETL processes to ensure efficient data flow and processing.</li>
    <li style="margin-bottom: 12px;">๏ Provided support in documentation, data cleaning, analysis, and insights generation, ensuring high-quality data across platforms and systems.</li>
  </ul>
</TimeLineElement>

  </div>

<div class="mb-5">
  <div class="text-3xl w-full font-bold">Certifications</div>
</div>

<ul class="list-disc mx-6 mb-10 grid gap-4">
  <li>
    <a href="#" target="_blank">Stepping into Leadership Idealo</a> - Mar 2024
  </li>
  <li>
    <a href="https://www.coursera.org/account/accomplishments/professional-cert/A5GALAS5GKWP" target="_blank">AWS Cloud Solutions Architect</a> - Nov 2023
  </li>
</ul>

</BaseLayout>
