---
const today = new Date();
---

<footer class="footer footer-center block mb-4 pt-8">
  <div class="pb-2 text-sm">
    &copy; {today.getFullYear()} Umer Khan
  </div>
  <div class="inline opacity-75 text-sm">
  </div>
</footer>
<style></style>
