---
const { sideBarActiveItemID } = Astro.props;
---

<div class="mt-8">
  <div class="py-4 text-center">
    <a
      href="mailto:hello@umerkhan.eu"
      class="btn btn-outline btn-sm"
      target="_blank"
      referrerpolicy="no-referrer-when-downgrade"
    >
      Contact
    </a>
  </div>
</div>
